
li{
    position: relative;
    height:45px;
}
.up{
    position: absolute;
    left: 250px; 
}
.down{
    position: absolute;
    left: 300px; 
}
.del{
    position: absolute;
    left: 500px; 
}
input[type="text"]{
    width: 230px;
}

